/* --------------------------------
   Variables   
----------------------------------- */
/* Button colour */
/* Layout */
/* elements */
body {
  background: red;
}

/* --------------------------------
   Buttons
----------------------------------- */
/* Base colour */
.btn-default, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
  background-color: #f5f5f5 !important;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  background-color: #006dcc !important;
}

.btn-success, .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active {
  background-color: #5bb75b !important;
}

.btn-info, .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active {
  background-color: #49afcd !important;
}

.btn-warning, .btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active {
  background-color: #faa732 !important;
}

.btn-danger, .btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active {
  background-color: #da4f49 !important;
}

.btn-inverse, .btn-inverse:hover, .btn-inverse:focus, .btn-inverse:active, .btn-inverse.active {
  background-color: #363636 !important;
}

/* Hover */
.btn-default:hover {
  background-color: white !important;
}

.btn-primary:hover {
  background-color: #0088ff !important;
}

.btn-info:hover {
  background-color: #71c1d8 !important;
}

.btn-success:hover {
  background-color: #7ec77e !important;
}

.btn-warning:hover {
  background-color: #fbbc64 !important;
}

.btn-danger:hover {
  background-color: #e37873 !important;
}

.btn-inverse:hover {
  background-color: #505050 !important;
}

#fancy .btn {
  /* Gradient global */
  /* Shadow */
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 1px rgba(0, 0, 0, 0.075);
  /* Text-shadow */
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  /* Border */
  border-color: rgba(255, 255, 255, 0.3) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.5) !important;
}

#edge .btn {
  border-radius: 0;
  border-bottom: 3px solid;
  overflow: hidden;
  position: relative;
}

#edge .btn:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-top: 33px solid rgba(255, 255, 255, 0.4);
  border-right: 40px solid transparent;
  -moz-transform: scale(0.9999);
  /* FF rough edge fix */
}

#edge .btn-lg:before {
  border-top-width: 45px;
  border-right-width: 60px;
}

#edge .btn-sm:before {
  border-top-width: 30px;
  border-right-width: 35px;
}

#edge .btn-xs:before {
  border-top-width: 20px;
  border-right-width: 26px;
}

#edge .btn-link:before {
  display: none;
}

#edge .btn:hover:before {
  left: -100px;
}

#edge .btn-default {
  border-color: #b5b5b5;
}

#edge .btn-primary {
  border-color: #00294d;
}

#edge .btn-info {
  border-color: #206376;
}

#edge .btn-success {
  border-color: #2d662d;
}

#edge .btn-warning {
  border-color: #a86404;
}

#edge .btn-danger {
  border-color: #88201c;
}

#edge .btn-inverse {
  border-color: black;
}

#round .btn {
  border-radius: 250px;
}

#ghost .content-inner {
  background: #404040;
  color: #faa732;
  -webkit-box-shadow: 0 1px 0 #000 inset, 0 1px 1px #000;
          box-shadow: 0 1px 0 #000 inset, 0 1px 1px #000;
}

#ghost .page-header {
  background: #222;
  border-color: #000;
}

#ghost .btn {
  background: transparent !important;
  border-width: 2px;
  border-radius: 0;
}

#ghost .btn-default {
  color: black;
  border-color: black;
}

#ghost .btn-default:hover {
  background: black !important;
  color: white;
}

#ghost .btn-primary {
  color: #006dcc;
  border-color: #006dcc;
}

#ghost .btn-primary:hover {
  background: #006dcc !important;
  color: white;
}

#ghost .btn-info {
  color: #49afcd;
  border-color: #49afcd;
}

#ghost .btn-info:hover {
  background: #49afcd !important;
  color: white;
}

#ghost .btn-success {
  color: #5bb75b;
  border-color: #5bb75b;
}

#ghost .btn-success:hover {
  background: #5bb75b !important;
  color: white;
}

#ghost .btn-warning {
  color: #faa732;
  border-color: #faa732;
}

#ghost .btn-warning:hover {
  background: #faa732 !important;
  color: white;
}

#ghost .btn-danger {
  color: #da4f49;
  border-color: #da4f49;
}

#ghost .btn-danger:hover {
  background: #da4f49 !important;
  color: white;
}

#ghost .btn-inverse {
  color: white;
  border-color: white;
}

#ghost .btn-inverse:hover {
  background: white !important;
  color: black;
}

.btn-inverse,
.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse:focus {
  color: #fff;
}

.btn.btn-link {
  background-image: none !important;
  border: 0 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  text-shadow: none !important;
}

/* Layout */
html {
  font-size: 100%;
  font-size: 16px;
  -webkit-font-smoothing: subpixel-antialiased;
}

body {
  font-size: 1rem;
  word-break: break-word;
  background: #3a9bd9;
}

/* Footer */
.site-footer {
  background: #333;
  color: #fff;
  height: 100px;
  text-align: center;
  padding: 30px 0 100px;
}

.site-footer p, .site-footer a {
  color: #e9eef2 !important;
}

/* Div card style */
.content-inner {
  background: #fff;
  padding: 30px;
}

.navbar .nav,
.content-inner {
  -webkit-box-shadow: 2px 3px 0 2px #9fabb3, 0 0 0 1px #e9eef2;
          box-shadow: 2px 3px 0 2px #9fabb3, 0 0 0 1px #e9eef2;
  border-radius: 6px;
  margin-bottom: 30px;
}

/* Nav */
.navbar .nav {
  background: #fafafa;
  min-height: 40px;
}

.nav > li > a {
  display: block;
  float: none;
  padding: 15px;
  color: #777;
  text-transform: uppercase;
  text-shadow: none;
}

.nav > li > a:focus,
.nav > li > a:hover {
  background-color: #e9eef2;
  color: #5e5e5e;
}

.nav > .active > a,
.nav > .active > a:active,
.nav > .active > a:hover,
.nav > .active > a:focus {
  background-color: #e9eef2;
  color: #5e5e5e;
}

.nav > li:first-child > a {
  border-radius: 6px 0 0 6px;
}

.nav > li:last-child > a {
  border-radius: 0 6px 6px 0;
}

/* Page Header */
.page-header {
  background: #e9eef2;
  margin: -30px -30px 30px !important;
  padding: 20px 30px;
  border-radius: 6px 6px 0 0;
}

.page-title {
  margin: 0;
}

.page-header small {
  color: #9fabb3;
}

/* Link */
a, a:focus, a:active, a:hover {
  zoom: 1;
  text-decoration: none;
  cursor: pointer;
}

a, a:focus {
  color: #006dcc;
}

a:active {
  color: #005299;
}

a:hover {
  color: #0088ff;
}

/* --------------------------------
   Elements 
----------------------------------- */
h1.site-title {
  color: #fff;
  padding: 30px 0;
}

p {
  color: #333;
}

/* Scroll to top */
a.to-top {
  display: block;
  margin: -30px 0 0;
  color: #9dbccf;
}

a.to-top span {
  display: none;
}

/* List */
.content-inner {
  /* /media */
}

.content-inner dl dt {
  width: 10%;
  float: left;
  font-weight: bold;
  display: inline-block;
}

.content-inner dl dd {
  width: 90%;
  display: inline-block;
}

.content-inner dt, .content-inner dd {
  line-height: 70px;
}

@media (max-width: 992px) {
  .content-inner dt, .content-inner dd {
    width: 100% !important;
  }
  .content-inner dt {
    line-height: 30px !important;
  }
  .content-inner dd {
    line-height: 55px !important;
    margin-bottom: 20px;
  }
}

/* /content-inner */
/* Responsive */
@media (max-width: 767px) {
  .site-title,
  .site-footer p {
    width: 100%;
    text-align: center;
  }
}

/* --------------------------------
   Scaffolding 
----------------------------------- */
/* Remove Firefox selection dot */
a, a:focus, a:active, a:hover, object, embed, :focus {
  outline: none !important;
}

:-moz-any-link:focus {
  outline: none;
}

input::-moz-focus-inner {
  border: 0;
}

/* Remove Firefox Dropdown selection dot */
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

/* Image */
iframe, a img {
  border: none;
}

/* SELECTED TEXT */
::-moz-selection {
  background: #ff5e99;
  color: #FFFFFF;
}
::selection {
  background: #ff5e99;
  color: #FFFFFF;
}

::-moz-selection {
  background: #ff5e99;
  color: #FFFFFF;
}

/* Animation */
.site-title,
.navbar nav,
.nav li a,
.site-footer a,
.btn {
  /* Webkit flickering bug fix */
  -webkit-transform: translate3d(0, 0, 0);
}
/*# sourceMappingURL=style.css.map */